
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
   width: 320px; 
   height: 20px;
   outline: none;
   border-radius: 20px;
   border: 3px solid transparent;
   background: linear-gradient(white,white)padding-box,
   linear-gradient(360deg,pink,indigo,green)border-box;
   animation: move 2s linear infinite;
}
.input{
     margin-left: 40px;
}
#log{
    margin-top: 200px;
    display: none;
    position: absolute;
    height: 300px;
    width: 400px;
    background-color: rgba(222, 216, 216);
    color: black;
    border-radius:20px ;
  padding-bottom: 15px;
  padding-top: 15px;
  gap: 20px;
}
table{
    width: 900px;
}
.tr{
    background-color: green;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}
tr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
    border: 2px solid black;
}
td{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    border-right: 2px solid black;
}
.button{
    margin-left: 30px;
    margin-bottom: 20px;
}
.can{
    background-color: red;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    margin-top: 10px;
}
.save{
    background-color:green;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
}
.add{
    background-color:green;
    height: 30px;
    width: 150px;
    border-radius: 5px;
}
#up{
    margin-top: 50px;
}
.sad{
    margin-left: 400px;
}
button{
    border: 2px solid transparent;
    background: linear-gradient(white,white)padding-box,
    linear-gradient(45deg,indigo,green,pink,blue)border-box;
    animation: move 2s linear infinite;
}
@keyframes move {
    from{
        filter: hue-rotate(0deg);
    }
        to{
        filter: hue-rotate(360deg);
    }
}


